article {
}
article h1 {
  text-align: center;
  font-size: 100%;
  padding: 1em;
}
article p {
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 Pr6N", "Hiragino Mincho Pr6N", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 StdN", "Hiragino Mincho StdN", HiraMinProN-W3;
  line-height: 1.6em;
}
