article {
}
article h1 {
  text-align: center;
  font-size: 100%;
  padding: 3em 0;
}
article p {
}

.readme {
  padding: 2em;
}
.readme h1 {
  font-size: large;
}
.readme h2
.readme h3 {
  font-size: medium;
}
.readme p {
}

