article {
}
article h1 {
  font-size: medium;
  text-align: center;
  margin: 16px 0 8px;
}
article p {
}

.readme {
  padding: 1em;
}
.readme h1 {
  font-size: xx-large;
  margin: 16px 0 8px;
}
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  font-size: medium;
}
.readme p {
}

