---
layout: default
---
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{ page.title | escape }}
    </span>
  </div>
</nav>

    {% assign next_i = site.pages.index0 | plus: 1 %}
    {% assign prev_i = site.pages.index0 | minus: 1 %}
    {{ site.pages[next_i].title }}
    <br>
    {{ site.pages[prev_i].title }}
    
<div class="container">
  <article>
    {{ content }}
  </article>
</div>

