---
layout: default
---
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{ page.title | escape }}
    </span>
  </div>
</nav>

{% for item in site.pages %}
  {% if item.path == page.path %}
    {% assign n = forloop.index0 | plus: 1 %}
    {% assign p = forloop.index0 | minus: 1 %}
    {% assign next = forloop[n] %}
    {% assign prev = forloop[p] %}
    {{ prev.title }}
    <br>
    {{ next.title }}
  {% endif %}
{% endfor %}
    
<div class="container">
  <article>
    {{ content }}
  </article>
</div>

