---
layout: default
---
{% assign items = site.pages %}
{% for item in items %}
  {% if item.path == page.path %}
    {% assign prev_index = forloop.index0 | minus: 1 %}{% if items[prev_index].title %}{% assign prev = items[prev_index] %}{% endif %}
    {% assign next_index = forloop.index0 | plus: 1 %}{% if items[next_index].title %}{% assign next = items[next_index] %}{% endif %}
    {% break %}
  {% endif %}
{% endfor %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  <span class="navbar-text">
    {{ page.title | escape }}
  </span>
</nav>
{% if prev %}
<div class="card bg-light">
  <div class="card-body">
    <p class="card-text"><a href="{{ prev.url | relative_url }}">{{ prev.title }}</a></p>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    <article class="col-sm-12 col-md-11">
      {{ content }}
    </article>
    <aside class="col-sm-12 col-md-1">
      <header>
        <h1 class="h6"><a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
        <p class="lead"><small>作者</small>{{ site.author | escape }}</p>
      </header>
      <h2 class="h6">目次</h1>
      <ul class="list-unstyled">
      {% for item in items %}
        {% if item.title %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </aside>
  </div>
</div>
{% if next %}
<div class="card bg-light">
  <div class="card-body">
    <p class="card-text"><a href="{{ next.url | relative_url }}">{{ next.title }}</a></p>
  </div>
</div>
{% endif %}
